$body-color: #4A4A4A;
$border: #dddddd;
$body-bg: #f4F4F4;
$clear: #ffffff;
$primary: #3F51B5;
body {
	font-family: Roboto;
	color: $body-color;
	background-color: $body-bg;
	padding: 0;
	margin: 0;
}


.navbar {
	height: 50px;
	line-height: 50px;
	background-color: $primary;
	padding-left: 40px;
	padding-right: 40px;
	color: $clear;
}

.primary {
	color: $primary;
}

.col {
	flex: 1;
	padding: 20px;
}
.container {
	display: flex;
	margin: 0 auto;
}

img {
	width: 100px;
	height: 100px;
}

input[type=text] {
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	border-radius: 3px;
	border: 1px solid $border;
	width: 70%;
	display: block;
}

button {
	float: right;
	&:hover {
		opacity: 0.8;
	}
	margin-top: -3px;
	cursor: pointer;
	outline: none;
	background-color: $primary;
	color: $clear;
	border: none;
	width: 150px;
	text-transform: uppercase;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
}

.m-t {
	margin-top: 10px;
}

.card {
	width: 100%;
	background-color: $clear;
	border: 1px solid $border;
	border-radius: 3px;
	overflow: auto;
	word-wrap: break-word;
}

.subchild {
	background-color: #cccccc;
	padding: 10px;
}

.subsubchild {
	background-color: #bbbbbb;
	padding: 10px;
}

.global-padding {
	padding: 20px;
}