body {
	font-family: Roboto;
	padding: 0;
	margin: 0;
	font-size: 12px;
}

h1 {
	text-transform: uppercase;
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.4em;
}

.pokemon-details {
	padding: 10px;
	background-color: #f8f8f8;
}

.text-content {
	font-size: 1.2em;
	font-weight: 100;
}

.loading-size {
	height: 70px;
}

.pokemon-sprite img {
	height: 100px;
}